.advantages__title {
  font-size: 24px;
  line-height: auto;
}

h3.advantages-item__title {
  font-size: 18px;
  line-height: 24px;
}

p.advantages-item__description {
  font-size: 14px;
  line-height: 24px;
}


