$text-color: hsl(211, 42, 20);

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: $text-color;
}

li {
  list-style: none;
}

::-webkit-input-placeholder {
  color: $text-color;
  opacity: 1;
}

::-moz-placeholder {
  color: $text-color;
  opacity: 1;
}

:-moz-placeholder {
  color: $text-color;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $text-color;
  opacity: 1;
}
