$color-indexblue: hsl(213, 41, 12);
$color-textwhite: hsl(0, 0, 100);

.download {
  text-align: center;
  background-color: $color-indexblue;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid green;
}

.download__app {
  font-size: 18px;
  line-height: 18px;
  color: $color-textwhite;
}

.download__availible {
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  color: $color-textwhite;
}
