.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__list {
  padding: 0;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
}

.reviews__wrapper {
  text-align: center;
  margin-top: 63px;
}

.reviews__item--quote {
  margin: -20px;
  padding: 0;
}

.reviews__img {
  background-position: 50% 50%;
}
